@import "./config"
@import "./lib/grid"

// Project
// -------
// Project-specific stuff.

grid('grid', {
  lower: {span:4, count:4},
  mid: {span:1, count:4}
})

.grid-item {
  padding: 0

  .grid-item-header {
    padding: 0 config.grid.base
    height: (config.grid.base * 3)
    line-height: (config.grid.base * 3)
    background: config.color.main
  }

  .grid-item-content {
    padding: 0 config.grid.base
  }

}