{% extends '../layout/main.html' %}


{% block navigation %}
  {% parent %}
  <ul>
    <li>
      <a href="/admin/category">back</a>
    </li>
  </ul>
{% endblock %}

{% block body %}
  <form method="post" action="/admin/category{% if category.get('id') %}/edit/{{category.id}}{%else%}/new{% endif %}">

    <ul>
      <li>
        <label for="name">Name</label>
        <input type="text" name="name" value="{{category.get('name')||''}}">
      </li>
      <li>
        <label for="description">Description</label>
        <input type="text" name="description" value="{{category.get('description')||''}}">
      </li>
      <li>
        <button type="submit">Save</button>
      </li>
    </ul>

  </form>
{% endblock %}