<!doctype html>

<html>

<head>
  <title>Rabbit</title>
  <!-- temp -->
  <script src="/scripts/lib/modus/dist/Modus.js" data-main="lib.client.main"></script>
</head>

<body>
  <div id="test">
  </div>

  <nav class="navbar-primary">
    {% block navigation %}
      <ul>
        <li>
          <a href="/admin">Home</a>
        </li>
        <li>
          <a href="/admin/project">Projects</a>
        </li>
        <li>
          <a href="/admin/category">Categories</a>
        </li>
      </ul>
    {% endblock %}
  </nav>

  {% block body %}{% endblock %}
</body>

</html>